<form method="post" action="{{ path('app_employee_training_delete', {'id': employee_training.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee_training.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
