{% extends 'base.html.twig' %}

{% block title %}Edit Benefit{% endblock %}

{% block body %}
    <h1>Edit Benefit</h1>

    {{ include('benefit/_form.html.twig', {'button_label': 'Update'}) }}
    
    &nbsp;&nbsp;&nbsp;&nbsp;

    <a class="btn btn-secondary" href="{{ path('app_benefit_index') }}">back to list</a>

    &nbsp;&nbsp;&nbsp;&nbsp;

    {{ include('benefit/_delete_form.html.twig') }}

{% endblock %}
