{% extends 'base.html.twig' %}

{% block title %}Edit Recruitment{% endblock %}

{% block body %}
    <h1>Edit Recruitment</h1>

    {{ include('recruitment/_form.html.twig', {'button_label': 'Update'}) }}
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-secondary" href="{{ path('app_recruitment_index') }}">back to list</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    {{ include('recruitment/_delete_form.html.twig') }}
{% endblock %}
